/*stylesheet*/

/*

tiers of cascading styles

Importance - 

1. Transition
2. !important
3. animation
4. normal

Origin
website
user
browser

Specificity
inline > id > class > type

position
top to bottom

*/

/*here is my nice comment*/
body {
	background-color: #ffb6c1;
	color: #2d1832;
}
h1#main-headline {
   font-size: 48px;
   color:green;
   font-weight: 800;
}

h1.main-headline {
   font-size: 48px;
   color:red;
   font-weight: 800
   font-size: 67px;
}

h1, h2, h3, h4 {
	margin: 0;
}

p {
	color: orange !important;
}
